<mat-toolbar>
    <span>Website Metrics</span>
</mat-toolbar>
<table>
    <tr>
        <td rowspan="2"><app-table></app-table></td>
        <td><app-impressions-chart></app-impressions-chart></td>
        <td><app-clicks-chart></app-clicks-chart></td>
    </tr>
    <tr>
        <td><app-cost-chart></app-cost-chart></td>
        <td><app-conversions-chart></app-conversions-chart></td>
    </tr>
</table>
<!-- <div><app-table></app-table></div>
<div class="charts-div">
    <app-impressions-chart></app-impressions-chart>
    <app-clicks-chart></app-clicks-chart>
    <app-cost-chart></app-cost-chart>
    <app-conversions-chart></app-conversions-chart>
</div> -->
<!-- <app-table></app-table> -->
